services:
  - type: web
    name: keno-prediction-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python predictor.py
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: TELEGRAM_CHAT_ID
        sync: false
      - key: GITHUB_TOKEN
        sync: false
